@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Orbitron:wght@400;700&display=swap');

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  padding-top: 80px;
  padding-bottom: 120px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75));
}

.hero-content {
  position: relative;
  z-index: 2;

  text-align: center;

  width: 90%;
  max-width: 1200px;
}

.hero-logo {
  width: 15rem;
  border-radius: 100%;
  box-shadow:
    0 0 20px #37064f,
    0 0 40px #810d81,
    0 0 80px #760e76;
}

.hero-title {
  margin-top: 40px;
  font-family: 'Press Start 2P';
  color: white;
  font-size: 3.3rem;
  text-shadow:
    0 0 50px #ed1af4,
    0 0 5px #df26e5,
    0 0 20px #ee65f3;

  letter-spacing: 10px;
}

.hero-subtitle {
  margin-top: 35px;
  font-family: 'Press Start 2P';
  color: #f3f6f6;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow:
    0 0 10px cyan,
    0 0 20px cyan;
}

.hero-banner {
  margin-top: 50px;
  width: 80%;
  overflow: hidden;
  border: 2px solid cyan;
  padding: 0.6rem;
  box-shadow: 0 0 20px cyan;
  background: black;
  display: inline-block;
}

.scroll-text {
  white-space: nowrap;
  color: #00ffff;
  font-family: 'Press Start 2P';
  font-size: 1rem;
  animation: marquee 18s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes floatLogo {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .hero-title {
    font-size: 2.2rem;

    letter-spacing: 4px;
  }

  .hero-logo {
    width: 180px;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .scroll-text {
    font-size: 0.6rem;
  }
}

@media (max-width: 500px) {
  .hero-title {
    font-size: 1.4rem;
  }

  .hero-logo {
    width: 140px;
  }

  .hero-banner {
    padding: 12px;
  }
}
