.volunteer {
  text-align: left;
  color: white;
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  color: yellow;
  margin-bottom: 15px;
  text-shadow: 0 0 20px yellow;
  font-family: 'serif';
}

.volunteer p {
  margin-bottom: 20px;
  margin-left: 30px;
  color: #ddd;
  font-family: 'Courier New', monospace;
}

.form {
  background: #212020;
  border: 1px solid #9f9f9f;
  padding: 15px;
  display: flex;
  align-items: left;
  justify-content: space-between;
  gap: 15px;
}

.form i {
  color: #fb00ff;
}

.form-title {
  color: #ddd;
  font-family: 'Lucida Console', 'Courier New', monospace;
  text-align: center;
}

.form-description {
  background: #fb00ff;
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  padding: 8px 5px;
  border-radius: 5px;
}

.join-btn {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.join-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px #fb00ff;
}
