.quiz {
  color: white;
  font-family: Orbitron;
  text-align: center;
}

.counter {
  color: cyan;
  margin: 20px 0;
}

.quiz h2 {
  color: yellow;
  margin-bottom: 20px;
  text-shadow: 0 0 15px yellow;
}

.quiz h3 {
  margin: 30px 0;
  line-height: 1.5;
}

.quiz-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.quiz-grid button {
  padding: 15px;
  font-size: 17px;
  cursor: pointer;
  background: white;
  border: none;
  transition: .3s;
  border-radius: 6px;
}

.quiz-grid button:hover {
  transform: scale(1.03);
}

.correct {
  background: #00ff88 !important;
  color: black;
}

.wrong {
  background: #ff4b5c !important;
  color: white;
}

.next-btn,
.restart-btn {
  margin-top: 30px;
  padding: 15px 35px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  background: cyan;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  transition: .3s;
}

.next-btn:hover,
.restart-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 15px cyan;
}

.result h1 {
  font-size: 70px;
  color: cyan;
  margin: 20px 0;
}

.result p {
  margin: 20px 0;
  font-size: 20px;
}

@media (max-width:768px) {
  .result h1 {
    font-size: 50px;
  }

  .quiz-grid button {
    font-size: 15px;
  }
}