.window {
  background: rgba(10, 10, 30, 0.75);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 0 20px rgba(0, 255, 255, 0.25),
    0 10px 40px rgba(0, 0, 0, 0.6);

  width: 80%;
  max-width: 1200px;
}

/* .window:hover {
  transform: translateY(-8px);
  box-shadow:
    0 0 25px cyan,
    0 0 60px rgba(0, 255, 255, 0.35);
} */

section {
  margin-bottom: 90px;
  align-items: start;
  justify-items: center;
}

.window-header {
  height: 34px;
  background: linear-gradient(to bottom, #031245, #0d2978);
  border: 2px solid white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.window-header span {
  margin-left: 10px;
  color: white;
  font-size: 0.8rem;
}

.window-buttons {
  display: flex;
  margin-right: 10px;
  gap: 5px;
}

.window-buttons button {
  width: 19px;
  height: 19px;
  background: #bdbdbd;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

.window-buttons i {
  color: white;
  font-size: 0.7rem;
}

.window-body {
  padding: 22px;
  border: 2px solid white;
}

/* Floating animation */
/* .window {
  animation: windowFloat 5s ease-in-out infinite;
} */

@keyframes windowFloat {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}
