.window {
  background: rgba(10, 10, 30, 0.75);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 0 20px rgba(0, 255, 255, 0.25),
    0 10px 40px rgba(0, 0, 0, 0.6);
}

.window:hover {
  transform: translateY(-8px);
  box-shadow:
    0 0 25px cyan,
    0 0 60px rgba(0, 255, 255, 0.35);
}

section {
  margin-bottom: 90px;
}

.window-header {
  height: 34px;
  background: linear-gradient(to bottom, #2b5cff, #143fb7);
  border-bottom: 2px solid white;
  font-weight: bold;
}

.window-buttons {
  display: flex;
  gap: 5px;
}

.window-buttons button {
  width: 16px;
  height: 16px;
  background: #bdbdbd;
  border: 2px solid white;
  cursor: pointer;
}

.close {
  background: #ff4444;
}

.window-body {
  padding: 22px;
}

/* Floating animation */
.window {
  animation: windowFloat 5s ease-in-out infinite;
}

@keyframes windowFloat {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

button {
  transition: 0.3s;
}

button:hover {
  transform: scale(1.08);
  box-shadow:
    0 0 15px cyan,
    0 0 30px cyan;
}

html {
  scroll-behavior: smooth;
}

.window {
  opacity: 0;
  animation:
    fadeUp 0.8s forwards,
    windowFloat 5s infinite;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
