.resources {
  text-align: center;
  color: white;
  font-family: 'Orbitron';
}

.title {
  color: cyan;
  margin-bottom: 35px;
  text-shadow: 0 0 15px cyan;
  font-family: 'Lucida Console', 'Courier New', monospace;
}

.title hr {
  margin-top: 10px;
}

.resource-card {
  background: #000000;
  transition: 0.3s;
}

.resource-btn {
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  gap: 15px;
}

.resource-title {
  color: #ffff;
  font-size: 0.8rem;
  margin-bottom: 3px;
  text-align: left;
}

.resource-description {
  color: #ddd;
  font-size: 0.5rem;
}

.resource-card {
  margin-top: 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.resource-icon {
  font-size: 1.5rem;
  color: #00ffff;
  transition: 0.4s;
  animation: floatIcon 3s ease-in-out infinite;
}

.link {
  color: #00ffff;
  font-size: 0.8rem;
  margin-left: auto;
  transition: 0.3s;
}

.resource-card:nth-child(1) .resource-icon {
  animation-delay: 0s;
}

.resource-card:nth-child(2) .resource-icon {
  animation-delay: 0.5s;
}

.resource-card:nth-child(3) .resource-icon {
  animation-delay: 1s;
}

.resource-card:nth-child(4) .resource-icon {
  animation-delay: 1.5s;
}

.resource-card:hover .resource-icon {
  color: #ff00ff;
  animation: rotate 1s ease;
}

.resource-icon:hover {
  animation: rotate 1s ease;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}